.chat-main
  .main-header
    .main-header-left
      %h2.current-group
        = @group.name
      %lu.member
        - @group.users.each do |user|
          =user.name
    .edit-btn
      = link_to edit_group_path(@group) do
        edit
  .messages
    = render @messages
    .messages2
      .messages-ue
        %p.talker
          masa
        %p.date
          2019/11/20(wed) 17:43:01
      %p.text
        おはよう！
    .messages3
      .messages-ue
        %p.talker
          aaa
        %p.date
          2019/11/21(thu) 13:42:11
      %p.text
        こんにちは！
  .form
    = form_for [@group, @message], class:'new-message' do |f|
      .input-box
        = f.text_field :content, class:'input-text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input_file'
        = f.submit 'Send', class: 'submit-btn'